body {
	padding: 0 20px;
}

.windowBg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.75);
	text-align: center;
}

.windowBody {
	width: 80%;
	margin: 20% auto 20px;
	background-color: #fff;
	padding: 50px;
}
